<!-- Flippable card -->
<ng-container *ngIf="flippable">

    <!-- Front -->
    <div class="usaa-card-front">
        <ng-content select="[usaaCardFront]"></ng-content>
    </div>

    <!-- Back -->
    <div class="usaa-card-back">
        <ng-content select="[usaaCardBack]"></ng-content>
    </div>

</ng-container>

<!-- Normal card -->
<ng-container *ngIf="!flippable">

    <!-- Content -->
    <ng-content></ng-content>

    <!-- Expansion -->
    <div
        class="usaa-card-expansion"
        *ngIf="expanded"
        [@expandCollapse]>
        <ng-content select="[usaaCardExpansion]"></ng-content>
    </div>

</ng-container>
